.grid-duploRecursos{
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 80px 1fr;
    background-color: antiquewhite;
    position: absolute;
}

.btn-rotas{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: grey;
    position: relative;
}